.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Header {
    height: 50px;
    margin-left: 290px;
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 12px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    background-color: #547a1d;
    color: white;
}

.Footer {
    height: 50px;
    margin-left: 290px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-top: 2px solid rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    background-color: #547a1d;
    color: white;
}

.PageContent {
    background: fixed;
    background-color: #c9f48f;
}

.SideMenu {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vw;
}

.brand-logo {
    align-items: center;
    border-bottom: 2px solid gray;
    display: flex;
    height: 140px;
    justify-content: center;
    margin: 0 7px;
    padding: 0 12px;
}

/* .SideMenuAndPageContent {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
} */